#imageFrame {
  display: flex;
  align-items: center;
  justify-content: center;
}

#catImage {
  width: 75%;

  max-height: 100%;
}
.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35rem;
  height: 30rem;
  align-items: center;
}
.button {
  width: 25%;
}

@media (max-width: 650px) {
  .mainContent {
    width: 20rem;
  }
}
