#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* border: solid rgb(125, 0, 0);
  background-color: yellow; */
}
.mainPageContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
